
<app-menu-bar></app-menu-bar>
<div style="color: whitesmoke">
       
  <div class="ui-g"  style="text-align: center; background-color: gray">
    <div class="ui-g-12 banner stroke" style="font-size: 350%;color: darkblue"  ></div> 
    <div class="ui-g-12" style="background: darkblue"></div>         
    <div   style="margin-top: 5%;margin-bottom: 5%;">           
      <div class="ui-g ui-fluid">
        <div class="ui-g-6 ui-sm-12" style="font-size: 145%; background-color: gray">
         
                                      
         
                
        </div>       
       
       </div>
    </div>
</div>

</div>
