<div style="display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%">
<p-card title="Ingrese sus datos" style="text-align: center" [style]="{width: '360px'}" styleClass="ui-card-shadow">
  
    <form  [formGroup]="registroForm" (ngSubmit)="Registrar()">
        <div class="ui-inputgroup" >
 
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" style="width: 100%"  placeholder="Usuario" name="user" [formControl]="user" required>
               </div>

        <div class="ui-inputgroup" >
            <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
            <input type="password" style="width: 100%"  placeholder="Contraseña(min 6 carac)" name="clave" [formControl]="clave" required />   
        </div>   
        
        <div class="ui-inputgroup" >
            <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
            <input type="password" style="width: 100%"  placeholder="Repetir Contraseña" [formControl]="copiaClave" name="psw-repeat" required />   
        </div>   
      
    
      
    <p-footer>
        <button pButton type="submit" label="Registrarme"  [disabled]="!registroForm.valid" icon="fa-check"></button> 
        
      
    </p-footer>

    </form>
</p-card>
</div>

<p-dialog  autoAlign="true" width=100%  focusOnShow="false" header="Error" [(visible)]="error">
   {{errMsg}}               
  </p-dialog>
