<div class="banner">
    <div style="text-align: center;margin-top: 4%;text-align: center">
      
            <form [formGroup]="viajeForm" (ngSubmit)="Siguiente()">
            <p-card>
                <p-header>
                    <h3>Ingrese las preferencias del viaje</h3>
                </p-header>
                <p-calendar  placeholder="Fecha" name="fecha" [showTime]="true" [formControl]="fecha"></p-calendar>

              
            
                <br>
                <h4>Tipo de pago</h4> 
                 <div class="ui-inputgroup">
                     
                   <div style="width: 100%">
                     <p-selectButton [options]="tipoPago" [formControl]="pago" name="pago"  required></p-selectButton>
                   </div>         
                  </div>
                
                 <h4> Nivel de comodidad</h4>
                 <div class="ui-inputgroup">
                     
                   <div style="width: 100%">
                     <p-selectButton [options]="nivelComo" [formControl]="comodidad" name="comodidad"  required></p-selectButton>
                   </div>         
                  </div>
                  <br>
                  <br>
                <p-footer>
                    <button  pButton type="submit" label="Modificar" [disabled]="!viajeForm.valid" ></button>
                </p-footer>
            </p-card>
            </form>
        
     
     
      
     
  </div>
</div>
<p-dialog [showHeader]="false" [(visible)]="carga" [width]="0">
  <p-progressSpinner></p-progressSpinner>
</p-dialog>

<p-dialog [(visible)]="info" [width]="300">
    {{msg}}
</p-dialog>
<p-confirmDialog  icon="pi pi-exclamation-triangle" width="425" #cd>
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Ok" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>