<app-menu-bar></app-menu-bar>

<div class="banner">
    <div style="text-align: center;margin-top: 4%;margin-left: 10%">

    
    <p-card title="Solicitud de viaje"  [style]="{width: '90%'}" styleClass="ui-card-shadow">
        <p-header>
           
        </p-header>
        <div [hidden]="primeraParte">
        <p-dropdown [options]="op" [(ngModel)]="opcionPunto"></p-dropdown>
        </div>
        <form [formGroup]="viajeForm" (ngSubmit)="Viajar()">
          <div [hidden]="primeraParte">

           
           
            <br>
            <br>
            <agm-map [latitude]="latitude" [zoom]="14" [longitude]="longitude" (mapClick)="onChooseLocation($event)">
              <agm-marker 
              [latitude]="latitudeUno" 
              [longitude]="longitudeUno"
              *ngIf="seleccioneLocalizacionUno">
              </agm-marker>
              <agm-marker 
              [latitude]="latitudeDos" 
              [longitude]="longitudeDos"
              *ngIf="seleccioneLocalizacionDos">
              </agm-marker>
              <agm-direction *ngIf="dir" [origin]="dir.origin" [panel]="directionpanel" [waypoints]="waypoints"  [destination]="dir.destination"></agm-direction>
            </agm-map>
          </div>
          <div [hidden]="segundaParte" >
              <p-calendar  placeholder="Fecha" name="fecha" [showTime]="true" [formControl]="fecha"></p-calendar>

              
            
             <br>
             <h4>Tipo de pago</h4> 
              <div class="ui-inputgroup">
                  
                <div style="width: 100%">
                  <p-selectButton [options]="tipoPago" [formControl]="pago" name="pago"  required></p-selectButton>
                </div>         
               </div>
             
              <h4> Nivel de comodidad</h4>
              <div class="ui-inputgroup">
                  
                <div style="width: 100%">
                  <p-selectButton [options]="nivelComo" [formControl]="comodidad" name="comodidad"  required></p-selectButton>
                </div>         
               </div>
               <br>
               <br>
          </div>
        <p-footer>
          
            <div [hidden]="primeraParte">
                <button  pButton type="button" label="Siguiente" (click)="Siguiente()" style="margin-right: .25em"></button>
            </div>
            
            <div [hidden]="segundaParte">
                <button  pButton type="submit" label="Pedir Viaje" [disabled]="!viajeForm.valid"  style="margin-right: .25em"></button>
            </div>
         
        </p-footer>
      </form>
    </p-card>
  </div>
</div>

<p-dialog [(visible)]="info" [width]="300">
    {{msg}}
</p-dialog>

<!--
<div  style="text-align: center;width:500px;margin: 0 auto;padding-top:10px;">
  <h6 style="background-color:white;border-radius:5px;"></h6>
  <div [hidden]="primeraParte">
    <p-dropdown [options]="op" [(ngModel)]="opcionPunto"></p-dropdown>
   
    <br>
    <br>
    <agm-map [latitude]="latitude" [zoom]="14" [longitude]="longitude" (mapClick)="onChooseLocation($event)">
      <agm-marker 
      [latitude]="latitudeUno" 
      [longitude]="longitudeUno"
      *ngIf="seleccioneLocalizacionUno">
      </agm-marker>
      <agm-marker 
      [latitude]="latitudeDos" 
      [longitude]="longitudeDos"
      *ngIf="seleccioneLocalizacionDos">
      </agm-marker>
      <agm-direction *ngIf="dir" [origin]="dir.origin" [panel]="directionpanel" [waypoints]="waypoints"  [destination]="dir.destination"></agm-direction>
    </agm-map>
  </div>
  <br>

</div>

 -->
  

<!--(onChange)="change($event)"-->